<div class="user-profile">
  <div class="status text-center">
    <ul>
      <li>
        <div class="status-label">WANT</div>
      </li>
      <li>
        <div class="status-label">HAVE</div>
      </li>
    </ul>
  </div>
</div>
<%= render 'restaurants/restaurants', restaurants: @restaurants %>
