<div class="row">
  <ul class="user-menu">
    <li><%= link_to 'All', user_path(@user) %></li>
    <li><%= link_to 'Want to go', want_to_gos_user_path(@user) %></li>
    <li class="current"><%= link_to 'Went', wents_user_path(@user) %></li>
  </ul>
</div>

<%= render 'restaurants/restaurants', restaurants: @restaurants %>