<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Title</h1>
        <p><a href="">Log in</a>　or　<a href="">Sign up</a></p>
      </div>
    </div>
  </div>
<% end %>