@charset "utf-8";

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}


/*common*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 100px;
  color: #111;
  font-size: 13px;
  font-family: "Helvetica Neue", "Helvetica", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, "Arial", sans-serif;
  -webkit-animation: fade-in 1s ease 0s 1 normal;
          animation: fade-in 1s ease 0s 1 normal;
}

@-webkit-keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

@media (max-width: 767px) {
  body {
    padding-top: 70px;
  }
}

.container {
  min-height: calc(100% - 50px);
}

a,
.navbar-default .navbar-nav li a {
  color: #111;
  text-decoration: none;
  -webkit-transition: all .3s;
          transition: all .3s;
}

a:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-brand:hover,
a:focus, 
.navbar-default .navbar-nav li a:focus {
  color: #999;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

.btn {
  border: solid 1.5px #333;
  border-radius: 0;
  background: #fff;
  font-size: 14px;
  font-family: "Josefin Sans";
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:focus,
.btn:active.focus,
.btn:active:focus {
  outline: none; 
  outline-offset: 0;
}

.form-control {
  margin-bottom: 30px;
  border: solid 1px #dfdfdf;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/*navbar*/

.navbar-default {
  color: #111;
  background: rgba(255, 255, 255, .9);
  border: none;
  font-size: 18px;
  font-family: "Josefin Sans";
}

.navbar-default .navbar-brand {
  height: 70px;
  padding: 20px 15px;
  color: #111;
  font-size: 27px;
  line-height: 30px;
}

.navbar-nav li a {
  padding: 20px 15px;
  line-height: 30px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-brand {
    height: 60px;
    padding: 17px 15px;
    font-size: 25px;
    line-height: 26px;
  }
  
  .navbar-nav li a {
    padding: 15px 15px;
    text-align: center;
    line-height: 20px;
  }
}

.navbar-toggle {
  border: none;
  margin: 13px 15px;
}

.navbar-collapse {
  border: none;
  margin-bottom: 5px;
}

.navbar-default .navbar-toggle .icon-bar {
  height: 1.5px;
  background: #111;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: transparent;
}


/*toppage*/

.cover {
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100% + 100px);
  margin-top: -100px;
  background: url("/images/cover3.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cover-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-family: "Josefin Sans";
}

h1 {
  font-size: 50px;
  margin-bottom: 17px;
}

.top-menu {
  padding: 0;
}

.top-menu-item {
  display: inline-block;
  margin: 0 15px;
  font-size: 23px;
}

@media (max-width: 767px) {
  h1 {
    margin-bottom: 12px;
    font-size: 32px;
  }
  
  .top-menu-item {
    margin: 0 10px;
    font-size: 18px;
  }
}


/*signup login*/

.user .panel-default {
  margin-bottom: 50px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.user .panel-default .panel-heading {
  border-bottom: none;
  background: transparent;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Josefin Sans";
}

@media (max-width: 767px) {
  .user .form-control {
    margin-bottom: 20px;
  }
}

.user .form-control:focus {
  border: solid 1px #dfdfdf;
}

label {
  font-size: 14px;
  font-weight: normal;
  font-family: "Josefin Sans";
}

.user .btn-block {
  margin-top: 45px;
}

@media (max-width: 767px) {
  .user .btn-block {
    margin-top: 38px;
  }
}


/*list*/

.restaurant .panel-default {
  height: 400px;
  margin-bottom: 60px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

@media (max-width: 767px) {
  .restaurant .panel-default {
    height: auto;
  }
}

.restaurant .panel-default .panel-heading {
  margin-bottom: 0;
  padding: 0;
  background: #fff;
  border-bottom: none;
  text-align: center;
}

.restaurant .panel-body {
  text-align: center;
}

.restaurant img {
  max-height: 240px;
  max-width: 100%;
}

.restaurant .btn {
  width: 85px;
  margin: 15px 4px 0 4px;
  padding: 6px 0;
  font-size: 13px;
}

.restaurant .btn:first-child {
  margin-left: 0;
}

.restaurant .btn:last-child {
  margin-right: 0;
}

.btn-unwant_to_go {
  background: #ff627a;
  color: #fff;
}

.btn-unwant_to_go:hover {
  color: #fff;
}

.btn-unwent {
  background: #60e5c3;
}

.buttons form {
  display: inline-block;
}

.no-results-found {
  text-align: center;
  font-size: 16px;
  font-family: "Josefin Sans";
}


/*my list menu*/

.user-menu {
  padding: 0;
  text-align: center;
}

.user-menu li {
  display: inline-block;
  list-style: none;
  padding: 0px 15px 50px;
  font-family: "Josefin Sans";
  font-size: 18px;
}

@media (max-width: 767px) {
  .user-menu li {
    padding: 5px 10px 30px;
    font-size: 16px;
  }
}

.user-menu .current a {
  color: #999;
}


/*search*/

#keyword {
  margin-bottom: 65px;
  border: none;
  border-bottom: solid 1.5px #111;
  color: #111;
  font-family: "Josefin Sans";
}


/*footer*/

footer {
  height: 50px;
  padding: 10px 0;
  font-size: 10px;
  background: transparent;
}

footer .fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}