<footer>
  <div class="text-center text-muted">
    <p>© 2017 Miho Otsuka All Rights Reserved.</p>
    <p>Supported by <a href="http://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a></p>
  </div>
</footer>